*{
    font: 9pt "微软雅黑";
    background-color: rgb(45, 45, 45);
    color: rgb(85, 170, 255);
    border-color: rgb(85, 170, 255);
}

QStatusBar {
    border-top: 1px solid rgb(21, 21, 21);;
}

QLineEdit, QPushButton{
    background-color: black;
    border-style: none;
    height: 20px;
    width: 100px;
}

QPushButton:hover{
    border-style: solid;
    border-width: 1px;
    font: 10pt;
}

QLineEdit:hover{
    border-style: solid;
    border-width: 1px;
}


QMenu {
    background-color: black; /* sets background of the menu */
}

QMenu::item {
    /* sets background of menu item. set this to something non-transparent
        if you want menu color and menu item color to be different */
    background-color: transparent;
}

QMenu::item:selected { /* when user selects item using mouse or keyboard */
    background-color: green;
}


QTabWidget::pane { /* The tab widget frame */

}

QTabWidget::tab-bar {
    border-color: rgb(85, 170, 255);
}

/* Style the tab using the tab sub-control. Note that
    it reads QTabBar _not_ QTabWidget */
QTabBar::tab {
    background-color: black;
    border: 1px solid black;
    min-width: 20ex;
    padding: 2px;
}

QTabBar::tab:selected, QTabBar::tab:hover {
    background-color: black;
}

QTabBar::tab:selected {
    border-color: black;
    border-bottom-color: #C2C7CB; /* same as the pane color */
}

QTabBar::tab:!selected {
    margin-top: 1px; /* make non-selected tabs look smaller */
}

QScrollBar:vertical {
    background: black;
    width: 7px;
    margin: 11px 0 11px 0;
}
QScrollBar::handle:vertical {
    background: rgb(85, 170, 255);
    min-height: 20px;
}
QScrollBar::add-line:vertical {
    background: black;
    subcontrol-position: bottom;
    subcontrol-origin: margin;
}

QScrollBar::sub-line:vertical {
    background: black;
    subcontrol-position: top;
    subcontrol-origin: margin;
}


QScrollBar::add-page:vertical, QScrollBar::sub-page:vertical {
    background: none;
}
